body {
    background: #282e2a;
}

.game__score {
    color: white;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.8em;
}

.game__field {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(20, 20px 5%);
    grid-template-columns: auto;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    max-height: 400px;
    max-width: 400px;


}

.cell {
    border: none;

}

.snake_cell {
    background: #03fc52;
}
.food_cell{
    background: white;
}
.row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(20, 20px 5%);
}

