body {
    background: #282e2a;
}

.game__score {
    color: white;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.8em;
}

.game__field {
    margin: 0 auto;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    width: 400px;
    height: 400px;
}

.cell {
    display: inline-block;
    border: none;
    width: 20px;
    height: 20px;
}

.snake_cell {
    background: #03fc52;
}
.food_cell{
    background: white;
}
.row {
    height: 20px;
}

