.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-screen__button {
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    padding: 0.6em 1.6em;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 100px;
    background-color: transparent;
    border: 2px solid #03fc52;
    color: #03fc52;
}

.start-screen__title {
    color: white;
    text-align: center;
    font-size: 5em;
    line-height: 1.5em;
}

.start-screen__leaderboard {
    list-style: none;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.start-screen__level{
    display: flex;
    flex-direction: row;
    margin: 20px;
}


.start-screen__level__select{
    display: inline;
    color: white;
    font-size: 1.5em;
    margin: 0;
}

.start-screen__level__title{
    color: white;
    font-size: 1.5em;
}

.start-screen__leaderboard__title{
    text-align: left;
}